In [1]:
a = 10
b = "Ram"
c = True
print(a,b,c)
print(type(a))
print(type(b))
print(type(c))

10 Ram True
<class 'int'>
<class 'str'>
<class 'bool'>

In [12]:
#python objects
# Lists, Tuples, Dictionaries
# Tuples
months = ('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')
print(months[1])

#Lists
cats = ['Tom', 'Snappy', 'Kitty', 'Jessie', 'Chester']
print(cats[2])
cats.append('Catherine')
del cats[1]

cats_nos = [['Tom', 10], 
            ['Snappy', 15],
            ['Jessie', 20],
            ['Chester', 5]]
print(cats_nos[2])

#Dictionary
phoneBook = {'Andrew Parson': 8806336, \
            'Emily Everett': 6784346, 'Peter Power': 7658344, \
            'Lewis Lame': 1122345}
print(phoneBook['Peter Power'])

February
Kitty
['Jessie', 20]
7658344

In [17]:
# Handling lists
cn = cats_nos
print(type(cn))
cn[:]
cn[1:]
cn[:2]
cn[1][0]

<class 'list'>

'Snappy'

In [20]:
# Numpy
import numpy as np
a = np.array(cats)
print(a)

['Tom' 'Kitty' 'Jessie' 'Chester' 'Catherine']

In [22]:
a1 = np.array(cn)
print(a1)
print(type(a1))
print(type(cn))
print(a1.shape)
print(a1.ndim)
print(a1.size)

[['Tom' '10']
 ['Snappy' '15']
 ['Jessie' '20']
 ['Chester' '5']]
<class 'numpy.ndarray'>
<class 'list'>
(4, 2)
2
8

In [36]:
k = a1[:,1]
print(k)
k1 = k.reshape(4,1)
print(k1)

['10' '15' '20' '5']
[['10']
 ['15']
 ['20']
 ['5']]